@{
    Layout = null;

    var titulo = "War Craft";
    var comentarios = "Best movie ever seen";
    var deseo = "<center> Verla con R <center> <p> te extrano R <p>";
    var flacas = new String [] { "flaca1: Fabiola", "flaca2: Evelyn","flaca3: no remember", "flaca4: blanca ",
                                "f5=Patsy", "f6:belen","invented"};
    //var flacas = new String[] { };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Sap bitches</h1>
        <h1>@titulo</h1>

        <h2>@comentarios</h2>

        <div>
            @Html.Raw(deseo)
        </div>
        @if (flacas.Length > 0)
        {
            <ul>
                @foreach (var f in flacas)
                {
                    <li>@f</li>
                }
            </ul>
        }
        else
        {
            <h1>no tengo flacas</h1>
        }
    </div>
</body>
</html>
